{% extends 'base.html.twig' %}

{% block title %}Conference GuestBook{% endblock %}

{% block body %}
    <h1>Welcome to Conference GuestBook!</h1>
    
    <!-- Conferences list -->
    <h2>Conferences List</h2>
    {% for conference in conferences %}
        <h4>{{conference}}</h4>
        <p>
            <!-- <a href="/conference/{{conference.id}}">View</a> -->
            <a href="{{ path('conference', { id: conference.id }) }}">View</a>
        </p>

    {% endfor %}

{% endblock %}
