{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<style></style>

<div class="example-wrapper">
    <h1>Hello {{ name }}!</h1>
    <img src="/images/under-construction.gif" />
</div>
{% endblock %}
